<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <title>Class List: Edit</title> 
    <meta charset="utf-8" /> 
</head> 
<body> 
    <form action="/class/api/edit" method="POST"> 
    <div> 
        <label for="studentName">Enter id of student to edit:</label> 
        <input type="text" id="id" name="id"> 
        <label for="studentName">Enter new name:</label>
        <input type="text" id="name" name="name">
        <label for="studentName">Enter new course:</label>
        <input type="text" id="course" name="course">
    </div> 
    <div class="button"> 
        <button type="submit">Edit</button> 
    </div> 
    </form> 
</body> 
</html>
